
.root{
    -fx-background-color: #000000;
}


.label{
    -fx-text-fill: #FFFFFF;

}

.button{
    -fx-font-family: "Liberation Mono";
    -fx-background-color: #000500;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3;
    -fx-border-radius: 0;

}

.button:hover {
    -fx-background-color: #00FF00;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #000500;
    -fx-text-fill: #00FF00;
}

.button:focused {
    -fx-border-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 3;
    -fx-border-radius: 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #FFFFFF;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,50%);
}


/*
list view
 */

.list-cell {
    -fx-background-color: #000500;
    -fx-text-fill: #00FF00;
    -fx-padding: 10,0,10,0;
    -fx-font-family: "Liberation Mono";

}



.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #000500;
    -fx-text-fill: #00FF00;

}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #000500;
    -fx-text-fill: #00FF00;
}

.list-cell:filled:hover {
    -fx-background-color: #000500;
    -fx-text-fill: #00FF00;
}

.list-view{
    -fx-background-color: #000500;
    -fx-border-color: #000000;
    -fx-text-fill: #00FF00;

}

.list-view .virtual-flow  .corner{
    -fx-background-color: #000500;

}

.list-view .virtual-flow .scroll-bar:vertical{
    -fx-background-color: #000500;

}

.list-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #00FF00;

}


.text-field {
    -fx-background-color: #000500;
    -fx-text-fill: #00FF00;
    -fx-font-family: "Liberation Mono";

}


.choice-box {
    -fx-background-color: #000500;
    -fx-mark-color: #00FF00;
}

.choice-box .label {
    -fx-text-fill: #00FF00;
    -fx-font-family: "Liberation Mono";
}

.choice-box .menu-item {
    -fx-background-color: #000500;
    -fx-padding: 15;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #00FF00;
    -fx-font-family: "Liberation Mono";

}

.choice-box .menu-item:hover{
    -fx-background-color: #000500;

}

.choice-box .context-menu {
    -fx-background-color: #000500;
}

.toggle-button {
    -fx-background-color: #000500;
    -fx-text-fill: #00FF00;
}
.toggle-button:selected {
    -fx-background-color: #000500;

}
